
.root {
}

.sliderPercentage {
    /*remove textarea style*/
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;

    position: absolute;
    width: 30px;
    margin-left: 13px;
    background-color: transparent;
}

.sliderMaxPercentage {
    /*remove textarea style*/
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;

    position: absolute;
    width: 30px;
    margin: 17px 0 0 13px;
    background-color: transparent;
}
