
.root {
    margin: 0 auto;
    padding: 10px 25px;
    /*border: 1px dotted #ccc;*/
}
.second {
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.sequence {
    display: block;
    font-size: 18px;
    /* Make it overflow on both sides */
    margin-left: -100%;
    margin-right: -100%;
}
.seq1 {

}
.seq2 {

}

.same {
    color: yellow;
    background-color: #3F51B5;
}


/* Draw the border showing the running window */

.windowTopLeft {
    border-top: 2px solid red;
    border-left: 2px solid red;
}
.windowTopRight {
    border-top: 2px solid red;
    border-right: 2px solid red;
}
.windowBotLeft {
    border-bottom: 2px solid red;
    border-left: 2px solid red;
}
.windowBotRight {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
}
