
.root {
    margin: 15px;
    padding-left: 25px;  /* To leave space for the legend */
}

.canvas {
    border: 1px solid grey;
}

.mouseDown {
    cursor: grabbing;
}

.legendX {
    width: 100%;
    height: 25px;
    text-align: center;
}
.legendY {
    transform: rotate(90deg);
    transform-origin: left top 0;
    text-align: center;
    float: left;
    width: 100%;
    padding-top: 7px;
}
