
.root {
    margin: 20px 30px 15px 20px;
    padding-left: 25px;  /* To leave space for the legend */
}

.canvas {
    border: 1px solid grey;
}

.legendX {
    width: 100%;
    height: 25px;
    text-align: center;
}

.legendY {
    transform: rotate(90deg);
    transform-origin: left top 0;
    text-align: center;
    float: left;
    width: 100%;
    padding-top: 7px;
}

.verticalToolbar {
    position: absolute;
    right: -33px;
    top: 0;
    width: 30px;
    height: 100%;
    border: 1px solid grey;
}

.verticalButton {
    padding: 0;
    margin: 5px 1px 5px 5px;
    width: 24px;
    height: 24px;
}
