
.root {
    margin: 15px;
}

.canvas {
    border: 1px solid grey;
}

.mouseDown {
    cursor: grabbing;
}

.legendX {
    width: 100%;
    text-align: center;
}
.legendY {
    transform: rotate(90deg);
    transform-origin: left top 0;
}
