
/*
 * Define __ALL__ constants here.
 */
:root {
    --primary-blue: #3F51B5;
    --darker-blue: #2137AA;
    --darkest-blue: #132584;
    --lighter-blue: #5E6EC7;
    --lightest-blue: #8895DC;
}


.root {
    height: 100%;
}

.midPanel {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dotterPanelContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.densityPanelContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.twoSeqsPanelContainer {
    clear: both;
}

@media (min-width: 1609px) {
    .midPanel {
        flex-wrap: nowrap;
    }
    .densityPanelContainer {
        margin-left: 2%;
        width: 50%;
    }
}

